# Artefactos de compilacion (no se versionan; se generan al compilar)

# C / C++
*.o
*.out
a.out
ej[0-9]*
ejercicio[0-9]*
!*.c
!*.cpp

# Java
*.class

# Rust (Cargo genera todo en target/)
target/

# Editores / sistema
*~
.DS_Store
